In [23]:
s_list= ['abcd','bcd','asahja','abba','cddac','opq']

small=[]

a=len(s_list[0])

for x in s_list:
    if a >= len(x):
        small.append[a]:

SyntaxError: incomplete input (ipython-input-3060162255.py, line 17)

In [ ]:
s_list= ['abc','bcd','asahja','abba','cddac','opq']

leng=[]
for x in s_list:
    leng.append(len(x))
leng.sort()

for y in s_list:
    if len(y)== leng[0]:
         print("shortest is :" , y )

In [ ]:
# space and time complexity

a= 1 # 1
list[N]=[]  # N

# time

for i in liss:
  print{liss[8] )

        # o(N)
for i in liss:
        for j in liss:
            print{liss[8] )

                  # o(N)

In [ ]:
1 in [1,2,3,4,5]

In [ ]:
# min , max , ord , chr , clear , count ,pop ,remove , insert , index ,

In [25]:
min(['z',"abc","abab","cde"]) # min compares the ascii value of chars , like in dictionary(oxford)

'abab'

In [26]:
min([1,2,3,4,5])

1

In [27]:
min(['z',"abc","abab","cde"], key=len)  # now , the min calculates the list and the smallest is min

'z'

In [29]:
max("abdiewuhA")
min("abdiewuhA") # acc to asci ,, A comes first

'A'

In [30]:
ord("a") # to find the asci values

97

In [ ]:
chr(97) # number to char acc to ascii

In [31]:
b =[4,2,7,3,8,2,1,6]
dir(b)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [37]:
a = [[1],[1,34,5],[6,5]]
a[0].clear()
a

[[], [1, 34, 5], [6, 5]]

In [38]:
b =[4,2,7,3,8,2,1,6,1,1,1]
b.count(1)

4

In [42]:
b =[4,2,7,3,8,2,1,6,1,1,1]
b.index( 1, 1,4) # understand the error

ValueError: 1 is not in list

In [43]:
# b.insert(index , value)

b =[4,2,7,3,8,2]
b.insert(2,100) # time complex = o(N) , ifit was append at last , it will be o(1)
b

[4, 2, 100, 7, 3, 8, 2]

In [46]:

b =[4,2,7,3,8,2]
b.pop()

b

[4, 2, 7, 3, 8]

In [48]:
b =[4,2,7,3,8,2]
b.remove(2)  # o(N) ,, surumaa first wala 2 udaauxa , ani each element lai aa aafno new thau maa raakhxa
b

[4, 7, 3, 8, 2]

In [49]:
s_list= ['abcd','bcd','asahja','abba','cddac','opq']
s_list.sort(key=len, reverse =True)
s_list

['asahja', 'cddac', 'abcd', 'abba', 'bcd', 'opq']

In [53]:

# None - datatype

type(ab)

NameError: name 'ab' is not defined

In [55]:
# sorted , reversed

sorted ([4,8,5,3,7,2])

list(reversed([4,8,5,3,7,2]))

[2, 7, 3, 5, 8, 4]

In [56]:
# refernce variable

a=[]
b=a  # refernce variable , diff name but points to same memory location
b.append(5)
a

[5]

In [58]:
# to avoid referencing and just copy vale :

a=[]
b= a.copy()  # shallow copy
b.append(5)
a

[]

In [59]:
a=[[1,2,3],[5,6],[9]]
b= a.copy()
b.append(5)
a

[[1, 2, 3], [5, 6], [9]]

In [60]:
a=[[1,2,3],[5,6],[9]]
b= a.copy()
b[0].append(6)
a

[[1, 2, 3, 6], [5, 6], [9]]

In [62]:
# to avoid this referencing problem in copy
# to avoid a from being changed by other list's operations

from copy import deepcopy

a=[[1,2,3],[5,6],[9]]
b= deepcopy(a)
b[0].append(6)
b

[[1, 2, 3, 6], [5, 6], [9]]

In [63]:
# since list is changable , some times un necesarily changed like above
# so , we can also use tupple - immutable list


tuppi =(1,2,3,4)
type(tuppi)

tuple

In [65]:
tupii =() # empty tupple
type(tupii)

tuple

In [67]:
tuppi=(1,) # single ele tupple
type(tuppi)

tuple

In [68]:
a = 1 + 3 **2
a

10

In [69]:
a = (1 + 3 )**2   # a= (1+3) is int not single tupple
a

16

In [70]:
# copy logic

a=1
b=2

a,b

(1, 2)

In [72]:
a=1
b=2

b,a=a,b # variable = tupple
a

2

In [ ]:
a,b =(3,4)  # each variable is being assigned corresponding value inside the list or tupple
c,d=[6,7]

In [75]:
a=(1,2,3)
c,d,e=a
c,d,e

(1, 2, 3)

In [76]:
a=(1,2)
c,d,e=a   # not sufficient numbers in a to assign , so error comes
c,d,e

ValueError: not enough values to unpack (expected 3, got 2)

In [77]:
a= (1,2,3,[5,6,7])
a[-1].append(8)     #possible , bcz like we studied in deepn copy , list as a ref= a= [1,2,3, ref ]
# [ref] store hunxa xuttai location maa , so that location has list and it is mutable
a

(1, 2, 3, [5, 6, 7, 8])

In [80]:
a= (1,2,3,5)
a[-1]=8       # tupple is immutabler
a

TypeError: 'tuple' object does not support item assignment

In [81]:
# find the first repeated element of list :


a = [3,44,7,4,22,2,4,8,7]

dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [96]:
a = [3,44,7,4,22,2,4,8,7]
b=[]
for x in a:
  if x in b:                    #time complexity becomes o(N **2 )
    print(x)
    break
  b.append(x)

4

In [90]:
# to reduce the time complexity of above question to o(N ),, we use SET

[2, 3, 2, 3]